In [7]:
import pandas as pd
from IPython.display import display

%matplotlib inline

import csv
data = pd.read_csv("ch02-data.csv")

print "well"
display(data.head(10))

well

          day  ammount
0  2013-01-24      323
1  2013-01-25      233
2  2013-01-26      433
3  2013-01-27      555
4  2013-01-28      123
5  2013-01-29        0
6  2013-01-30      221